data/
datasets/
raw/
intermediate/
processed/
outputs/
results/
tmp/
**/*.he5
**/*.h5
**/*.hdf
**/*.nc
**/*.tif
**/*.tiff
**/*.zip
**/*.tar
**/*.gz
**/*.csv
**/*.npy
**/*.npz
**/*.pkl
**/*.jpg
**/*.png
.DS_Store
*.pdf
*.docx

